﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Update";

}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form method="post" class="row g-3 needs-validation" novalidate>
    <div class="col-3 col-md-4 col-sm-8">

        <div class="row g-3 ">
            <div class="col-10">
                <h3> @Model.SearchUser.FirstName  @Model.SearchUser.Surname </h3>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-10">
                <label for="Email" class="form-label">Email</label>
                <input id="Email" asp-for="SearchUser.Email" size="35" value="@Model.SearchUser.Email" class="form-control" required />
            </div>

            <div class="col-10">
                <label for="Upn" class="form-label">Upn</label>
                <input id="Upn" asp-for="SearchUser.Upn" size="35" value="@Model.SearchUser.Upn" class="form-control" />
            </div>

            <div class="col-10">
                <div class="form-check">
                    <input id="SamActive" asp-for="SearchUser.SamActive" checked="@(Model.SearchUser.SamActive == true)"  class="form-check-input" />
                    <label for="SamActive" class="form-label">SAM Active</label>
                </div>
            </div>

            <div class="col-10">
                <input type="submit" value="Get User" asp-page-handler="GetUser" class="btn btn-primary" />
                <input type="submit" value="Update" asp-page-handler="Update" class="btn btn-primary" />
                <div>
                    @Html.ValidationMessage("Email")
                </div>
            </div>

        </div>
        <div class="row g-3 ">
            <div class="col-10">
                <br />
                @Model.SearchUser.ResultMessage
            </div>
        </div>

    </div>


</form>
